.cards-grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
}

.card-area{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  border-radius: 2px; 
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  padding: 15px;
}

.card-top{
  display: flex;
  align-items: center;
}

.card-titulo{
  width: 100%;
  margin-left: 20px;
}

.card-imagem img{
  width: 4vw;
}

.card-info{
  margin-top: 15px;
  font-size: 16px;
  display: flex;
  height: 100%;
  text-align: justify;
  line-height: 22px;
}
