@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
    margin: 0; 
    overflow-x: hidden; 
}

.principal {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

.navbar {
    background-color: #333333;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 1000;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
    font-weight: 200;
}

.logos {
    display: flex;
    align-items: center;
}

.logo {
    height: 65px;
    margin-left: 10px;
}

.name {
    height: 48px;
    margin-left: 5px;
}

.links {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-left: 30px;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 65px;
    overflow: hidden;
}

.banner-background {
    background-image: url("/assets/imgs/justice1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1.5px);
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-15%, -50%);
    color: white;
    text-align: end;
}

.banner-text h1 {
    font-size: 38px;
}

.banner-text p {
    font-size: 24px;
    line-height: 1.2;
}

h1 {
    font-size: 34px;
}

.atuacao{
    padding-top: 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.atuacao h2 {
    font-size: 32px !important;
    padding-bottom: 30px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.atuacao{
    margin: 30px 0px 30px 0;
    text-align: center;
    position: relative; 
}

.atuacao h2::after {
    content: '';
    display: block;
    width: 50vw;
    height: 1px;
    background-color: silver;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.rodape {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}